<p>registro works!</p>

<div class="col-md-6"> 
<h2 class="text-center">Alta de usuarios</h2>
<form [formGroup]="angForm" novalidate>
    <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" [(ngModel)]="perfil.nombre" formControlName="nombre" id="nombre"> 
    <div *ngIf="angForm.controls['nombre'].invalid"> 
        <div *ngIf="angForm.controls['nombre'].errors.required">
            Introduce un nombre válido
        </div>
    </div>
    </div>

    <div class="form-group">
    <label for="edad">Edad</label>
    <input type="number" [(ngModel)]="perfil.edad" formControlName="edad" id="edad"> 
    
        <div *ngIf="angForm.controls['edad'].hasError('min')">
            Introduce una edad correcta
        </div>
    </div>

    <div class="form-group">
    <label for="genero">Género</label>
    <input type="text" [(ngModel)]="perfil.genero" formControlName="genero" id="genero"> 
    </div>

    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" [(ngModel)]="perfil.username" formControlName="username" id="usuario"> 
        <div *ngIf="angForm.controls['username'].errors.required"></div>
    </div>

    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="text" [(ngModel)]="perfil.password" formControlName="password" id="password"> 
        </div>

    <div class="form-group">
    <label for="descripcion">Descripción</label>
    <input type="text" [(ngModel)]="perfil.descripcion" formControlName="descripcion" id="descripcion"> 
    </div>

    <button [disabled]="angForm.invalid"  (click)="createPerfil()" class="btn btn-success" >Registrar usuario</button>

</form>
</div>

