<div class="col-md-6">
    <h2> Sugerencias</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Edad</th>
        <th>Género</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perfil of sugerencias">
          <td class="hidden">{{perfil.id}}</td>
          <td>{{perfil.nombre}}</td>
          <td>{{perfil.descripcion}}</td>
          <td>{{perfil.edad}}</td>
          <td>{{perfil.genero}}</td>
        </tr>
      </tbody>
    </table>
    </div>